/* Responsive */

@media only screen and (max-width:769px) {
	header {text-align:center;}
	header #title {font-size:1.7em;}
	.container-fluid {min-width:90%;}
	header nav {display:none;}
	main {min-width:90%;padding:2%;margin:0%;border-right:0;}
	aside {display:none!important;}
 }

/* Scroll bar */

::-webkit-scrollbar {
	background:#101010;
	width:16px;
	height:10px;
}

::-webkit-scrollbar-thumb {
	background:#ffffff;
	border:7px solid #101010;
}

/* Main */

html, body {
	padding:0px;
	margin:0px;
}

body {
	font:normal 13px "open sans", consolas, sans-serif;
	letter-spacing:0.05em;
	line-height:110%;
	color:#000000;
	background:#f8f8f8;
	position:relative;
}

.container-fluid {
	width:100%;
}

#title {
	font-size:1.5em; 
	font-family:"open sans", sans-serif;
	text-transform:uppercase;
	display:inline;
	letter-spacing:0.25em;
	line-height:100%;
}

#title a {
	color:#000000;
}

#title a:hover {
	color:#000000;

}

h1, h2 {
	font-family:"open sans", sans-serif;
	font-weight:normal;
	text-transform:uppercase;
	letter-spacing:0.2em;
	margin-bottom:1.5em;
}

h1 {font-size:1.6em;line-height:120%;}

h2 {font-size:1.2em;line-height:110%;}

a {
	color:#8c8c8c;
	text-decoration:none;
	-o-transition:0.5s;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
	transition:0.5s;
}

a:hover {
	color:#000000;
	-o-transition:0.5s;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
	transition:0.5s;
}

main {
	display:inline-block;
	padding-right:4%;
	width:60%;
	border-right:1px solid #ccc;
	margin:2%;
}

.main {
	display:none;
	padding:4% 2%;
	border-bottom:1px solid #ccc;
}

.main:last-child {
	border:0;
}

aside {
	display:none;
	vertical-align:top;
	width:27%;
	margin:1% 0%;
	padding:3.5% 2%;
	float:right;
}

#archive ul, #agenda ul {
	margin:1.5% 0%;
	padding-left:15px;
	padding-bottom:10%;
}

#archive li, #agenda li {
	padding:0.5% 0%;
}

#archive, #agenda {
	display:block;
	border-bottom:1px solid #ccc;
}

#more, #agenda {
	margin-top:10%;
}

#s {font-size:1.3em;color:#000;}

/* Header */

header { 
	display:none;
	padding:25px;
	background:#fff;
	border-bottom:1px solid #e5e5e5;
	z-index:99;
}

nav {
	display:inline;
	float:right;
}

nav a {
	margin-right:20px;
	text-transform:uppercase;
	letter-spacing:2.5px;
	font-size:0.95em;
	padding:1px;
}

a#onpage {
	color:#000;
	font-weight:bold;
}

/* Footer */

footer {
	display:none;
	margin-bottom:0px;
	background-color:#2a2a2a;
	padding:4% 1%;
	border-top:1px solid #2a2a2a;
}

footer p {
	text-align:center;
	font:normal 0.8em "open sans", arial, sans-serif;
	color:#f5f5f5;
	letter-spacing:0.2em;
	text-transform:uppercase;
}
