/* Responsive */

@media only screen and (max-width:769px) {
	.container-fluid {min-width:90%;}
 }

/* Main */

html, body {
	padding:0px;
	margin:0px;
}

body {
	font:normal 16px "source sans pro", consolas, sans-serif;
	line-height:110%;
	color:#000000;
	background:#f8f8f8;
	position:relative;
}

.container-fluid {
	width:100%;
}

#title {
	font-size:1.5em;
	letter-spacing:0.3em;
	line-height:120%;
}

#title a, #title a:hover {color:#000000;}

h1, h2 {
	font-weight:normal;
	margin-bottom:1.5em;
}

h1 {font-size:1.6em;line-height:120%;}

h2 {font-size:1.2em;line-height:110%;}

a {
	color:#8c8c8c;
	text-decoration:none;
	-o-transition:0.5s;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
	transition:0.5s;
}

a:hover {
	color:#000000;
	-o-transition:0.5s;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
	transition:0.5s;
}

main {
	display:inline-block;
	width:calc(90% - 8%);
	background:#ffffff;
	padding:0% 2%;
	margin:2%;
}

/* Header */

header { 
	display:none;
	padding:25px;
	background:#fff;
	border-bottom:1px solid #e5e5e5;
	z-index:99;
}

nav {
	display:inline;
	float:right;
}

nav a {
	margin-right:20px;
	text-transform:uppercase;
	letter-spacing:2.5px;
	font-size:0.95em;
	padding:1px;
}

a#onpage {
	color:#000;
	font-weight:bold;
}

/* Footer */

footer {
	display:none;
	margin-bottom:0px;
	background-color:#2a2a2a;
	padding:4% 1%;
	border-top:1px solid #2a2a2a;
}

footer p {
	text-align:center;
	font-size:0.8em;
	color:#f5f5f5;
	letter-spacing:0.2em;
	text-transform:uppercase;
}
